{%- set m = yaml.load('''
name: ModelData
description: ''
key:
  - name
fields:
  name:
''' ) %}


{%- macro render_params(props) %}
    {%- if props.id %}primary_key=True, {% endif %}
    {%- if props.default %}default={{ props.default }}, {% endif %}
    {%- if 'editable' in props %}editable={{ repr(props.editable) }}, {% endif %}
{%- endmacro %}


{%- macro render_field(name, props) %}
    {%- set type = props.type or props or 'str' %}
    {%- set help = props.help or name.capitalize().replace('_', ' ')  %}

    {%- if props.fk -%}
        models.ForeignKey('{{ props.fk }}'
                          {%- if props.rel %}, related_name='{{ props.rel }}'{% endif %})
    {%- elif props.oto -%}
        models.ForeignKey('{{ props.oto }}'
                          {%- if props.rel %}, related_name='{{ props.rel }}'{% endif %})
    {%- elif type == 'int'  -%}
        models.IntegerField(help_text=_("{{ help }}"))
    {%- elif type == 'bool' -%}
        models.BooleanField(help_text=_("{{ help }}"))
    {%- elif type == 'email' -%}
        models.EmailField(help_text=_("{{ help }}"))
    {%- elif type == 'uuid' -%}
        models.UUIDField({{ render_params(props) }}help_text=_("{{ help }}"))
    {%- else -%}
        models.CharField(max_length=255, help_text=_("{{ help }}")
                         {%- if props.enum %}, choices={{ name.upper() }}_CHOICES{% endif %})
    {%- endif %}
{%- endmacro %}


{%- macro render_key_types()  %}
{%- for key in m.key -%}
{{ m.fields[key].type or m.fields[key] or 'Text' }}{% if not loop.last %}, {% endif %}
{%- endfor %}
{%- endmacro %}


{%- macro render_in_bulk_by_natural_key(m) %}
{%- if 'natural_key_bulk' in m.modes %}

def in_bulk_by_natural_key(
    self,
    natural_keys  # type: Iterable[Tuple[{{ render_key_types() }}]]
):  # type: (...) -> Dict[{{ m.name }}.NaturalKey, {{ m.name }}]
    if not natural_keys:
        return {}

    q_expressions = (Q(
        {% for field in m.key %}{{ field }}={{ field }},{% if not loop.last %} {% endif %}{% endfor %}
    ) for {{ m.key | join(', ') }} in natural_keys)

    model_data = self.filter(reduce(or_, q_expressions))
    return {m.natural_key(): m for m in model_data}
{%- endif %}
{%- endmacro %}

{#- ///////////////////////////////// start //////////////////////////////// #}
# -*- coding: utf-8 -*-
"""{{ m.name }} model."""
{# ////////////////////////////////// imports ////////////////////////////// #}
{%- if 'py2' in m.modes %}
from __future__ import unicode_literals

{% endif %}


{%- if 'natural_key_tuple' in m.modes %}
from collections import namedtuple
{%- endif %}

{%- if 'natural_key_bulk' in m.modes %}
from operator import or_
{%- endif %}

from django.db import models
{%- if 'natural_key_bulk' in m.modes %}
from django.db.models import Q
{%- endif %}
from django.utils.encoding import python_2_unicode_compatible
from django.utils.translation import ugettext_lazy as _
{%- if 'natural_key_bulk' in m.modes %}
from django.utils.six.moves import reduce
{%- endif %}
{%- if 'typing' in m.modes %}

MYPY = False
if MYPY:
    from typing import Dict, Iterable, Text, Tuple
{%- endif %}
{%- if 'natural_key' in m.modes %}
{# ////////////////////////////////// body ////////////////////////////////// #}


class {{ m.name }}Manager(models.Manager):
    def get_by_natural_key(self, {{ m.key | join(', ') }}):
        {%- if 'typing' in m.modes %}
        # type: ({{ render_key_types() }}) -> {{ m.name }}
        {%- endif %}
        return self.get(
            {% for field in m.key %}{{ field }}={{ field }}, {% endfor %}
        )
    {{- render_in_bulk_by_natural_key(m) }}
{%- endif %}


@python_2_unicode_compatible
class {{ m.name }}(RetryMixin, models.Model):
    {%- if m.description %}
    """{{ m.description }}"""
{#  #}
{%- endif %}

    {%- for name, props in m.fields.items() if props.enum %}
    {%- for symbol, text in props.enum.items() %}
    {{ name.upper() }}_{{ symbol.upper() }} = '{{ symbol }}'
    {%- endfor %}

    {{ name.upper() }}_CHOICES = (
    {%- for symbol, text in props.enum.items() %}
        ({{ name.upper() }}_{{ symbol.upper() }}, '{{ text }}'),
    {%- endfor %}
    )
{#  #}
    {%- endfor %}

    {%- for field, props in m.fields.items() %}
    {{ field }} = {{ render_field(field, props) }}
    {%- endfor %}


    {%- if 'natural_key' in m.modes %}

    objects = {{ m.name }}Manager()
    {%- endif %}


    {%- if 'natural_key_tuple' in m.modes %}

    NaturalKey = namedtuple('{{ m.name }}Key', ['{{ m.key | join("', '") }}'])
    {%- endif  %}


    {%- if m.key %}

    class Meta:
        {%- if m.key %}
        unique_together = (
            ('{{ m.key | join("', '") }}',),
        )
        {%- endif %}
    {%- endif %}


    {%- if 'natural_key' in m.modes  %}

    def __str__(self):
        return '{% for k in m.key %}{self.{{ k }}} {% endfor %}'.format(self=self)

    def natural_key(self):  {#  #}
        {%- if 'typing' in m.modes -%}
        # type: (...) -> {% if 'natural_key_tuple' in m.modes %}{{ m.name }}.NaturalKey{% endif %}
        {%- endif %}

        {%- if 'natural_key_tuple' in m.modes %}
        return self.NaturalKey({% for field in m.key %}self.{{ field }}{% if not loop.last %}, {% endif %}{% endfor %})
        {%- else %}
        return {% for field in m.key %}self.{{ field }}{% if not loop.last %}, {% endif %}{% endfor %}
        {%- endif %}
    {%- endif %}
