{%- set m = yaml.load('''
name: ModelData
description: ''
key:
  - name
fields:
  name:
''' ) %}

{%- macro render_field(name, descr) %}
{%- if not descr -%}
models.CharField(max_length=255, help_text=_("{{ descr.help or name.capitalize() }}"))
{%- elif descr == 'int' or descr.type == 'int' -%}
models.IntegerField(help_text=_("{{ descr.help or name.capitalize() }}"))
{%- elif descr == 'bool' or descr.type == 'bool' -%}
models.BooleanField(help_text=_("{{ descr.help or name.capitalize() }}"))
{%- elif descr.fk -%}
models.ForeignKey('{{ descr.fk }}'
                  {%- if descr.rel %}, related_name='{{ descr.rel }}'{% endif -%})
{%- elif descr.oto -%}
models.ForeignKey('{{ descr.oto }}'
                  {%- if descr.rel %}, related_name='{{ descr.rel }}'{% endif -%})
{%- else -%}
models.CharField(max_length=255, help_text=_("{{ descr.help or name.capitalize() }}"))
{%- endif %}
{%- endmacro %}


{%- macro render_key_types()  %}
{%- for key in m.key -%}
{{ m.fields[key].type or m.fields[key] or 'Text' }}{% if not loop.last %}, {% endif %}
{%- endfor %}
{%- endmacro -%}

from django.db import models
from django.utils.encoding import python_2_unicode_compatible
from django.utils.translation import ugettext_lazy as _


class {{ m.name }}Manager(models.Manager):
    def get_by_natural_key(self, {{ m.key | join(', ') }}):
        {%- if 'typing' in m.modes %}
        # type: ({{ render_key_types() }}) -> {{ m.name }}
        {%- endif %}
        return self.get(
            {% for field in m.key %}{{ field }}={{ field }}, {% endfor %}
        )


@python_2_unicode_compatible
class {{ m.name }}(models.Model):
    """{{ m.description }}"""
    {%- for field, descriptor in m.fields.items() %}
    {{ field }} = {{ render_field(field, descriptor) }}
    {%- endfor %}

    objects = {{ m.name }}Manager()

    class Meta:
        unique_together = (
            ('{{ m.key | join("', '") }}',),
        )

    def __str__(self):
        return self.name

    def natural_key(self):
        return {% for field in m.key %}self.{{ field }}, {% endfor %}

